.json_file_crack {
    border: 3px solid #7140da;
    height: 62vh;
    border-top: 0;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto;
}
.file_destination_crack {
    background-color: #7140da;
    color: black;
    font-weight: 700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 3%;
}
.crack_container {
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 1%;
}
.show_json_crack{
    width: 25%;
}
.show_crack{
    width: 74%;
}
#cracked_container{
    background-color: #d3d3d338;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 15px;
    width: max-content;
}
  #me{
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
  }
  .cont{
    display: flex;
  }
  #test{
    display: flex;
  
  }
  #test div{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  #test div div{
    width: max-content;
  }
