.line-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.allfiles {
    display: flex;
    width: 80%;
    gap: 24px;
    flex-wrap: wrap;
    padding-top: 1%;
    color: #272727;
    font-weight: bold;
}
.file {
    background: #B8B8B8;
    width: 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 10px;
}
.allfiles-body{
    display: flex;
    justify-content: center;
}
.crack {
    cursor: pointer;
    color: #7140da;
    font-weight: bold;
    font-size: 18px;
}
.crack:hover {
text-decoration: underline;
}
.date{
    font-size: 12px;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    display: none;
}

.login h3{
    font-size: 20px;
}

.login button {
    background: none;
    color: white;
    border: 2px solid;
    padding: 4px 3%;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
}

.login button:hover{
    background: white;
    color: #272727;
}