.Header {
    text-align: center;
    margin: 0;
    /* color: white; */
    font-family: 'Catamaran', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 10;
    /* background-color: #272727; */
  }
  p{
    margin: 0;
  }
  
  .logo {
    font-family: 'Crashcourse BB', sans-serif;
    font-size: 50px;
  }
  
  .logo span {
    color: #7140DA;
    font-size: 33px;
  }
  
  
  
  .Header-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .right-header{
    display: flex;
      align-items: center;
      gap: 30px;
  }
  
  .btn-Coffee{
    width: 60%;
      height: 100%;
  }
  .btn-Join{
    width: 40%;
      height: 100%;
  }
  .btn{
      background: none;
      /* color: white; */
      border: solid 2px;
      width: 100%;
      border-radius: 5px;
      cursor: pointer;
      padding: 3%;
      height: 100%;
      font-weight: bold;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-family: 'Catamaran', sans-serif;
  }
  
  .btn:hover{
    background: white;
    color: #272727;
  }
  .mode{
    cursor: pointer;
    display: flex;
  }
  .mode i {
    font-size: 25px;
  }
  .right-header{
    display: flex;
    gap: 30px;
    width: 35%;
    align-items: center;
    height: 36px;
    font-weight: bold;
  }

.Header-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    position: relative;

  }
  
  .bottom-line{
    position: absolute;
      height: 0.25px;
      background: #8f8f8f;
      bottom: 0;
      left: 10%;
      padding: 0px 39%;
  }
  .separate{
      width: 0.25px;
      height: 20px;
      background: #8f8f8f;
  }

