.App {
  background-color: #272727;
  min-height: 100vh;
  margin: 0;
  color: white;
  font-family: 'Catamaran', sans-serif;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
